.board-square {
    height: 15vmin;
    width: 15vmin;
    max-height: 10vh;
    max-width: 10vh;
    font-size: min(10vmin, 7vh);
    line-height: 0;
    padding: 0% !important;
}

#board-main {
    background-color: white;
}

#board-info-display {
    /* font-size: 4vmin; */
    line-height: 4vmin;
    font-size: min(5vmin, 4vh);
}

.grad-blue-bottom {
    background: rgb(121,218,255);
    background: linear-gradient(0deg, rgba(121,218,255,1) 0%, rgba(255,255,255,1) 30%); /*switch to 180deg for up to down*/
}

.grad-red-bottom {
    background: rgb(255,132,132);
    background: linear-gradient(0deg, rgba(255,132,132,1) 0%, rgba(255,255,255,1) 30%);
}

.grad-blue-top {
    background: rgb(121,218,255);
    background: linear-gradient(180deg, rgba(121,218,255,1) 0%, rgba(255,255,255,1) 30%); /*switch to 180deg for up to down*/
}

.grad-red-top {
    background: rgb(255,132,132);
    background: linear-gradient(180deg, rgba(255,132,132,1) 0%, rgba(255,255,255,1) 30%);
}