.home-button {
    font-size: 5vmin;
}

.home-title {
    font-size: 4vmin;
    text-align: right;
}

#home-welcome-text {
    font-size: 6vmin
}

#home-main {
    width: 75%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}