{% extends "base.html" %}

{% block content %}
<!-- Page Content -->
<div id="board-bg" class="d-flex justify-content-center align-items-center" style="height: calc(100% - 56px); width: 100%; z-index: -1; flex-direction: column; position: fixed;">
  <div id="board-info-display" class="alert alert-dark" role="alert">
    {% if winner %}
      game ended; {{ winner }} won
    {% elif is_inviter %}
      share your url with your friend
    {% else %}
      entered game by invitation
    {% endif %}
  </div>
  <div id="board-main" class="shadow-lg py-2 px-4 mb-5" data-color="{{ color }}" data-game-id="{{ game_id }}" data-winner="{{ winner }}" data-is-viewer="{{ is_viewer }}">
    <div class="row justify-content-center">
      <div class="col-auto m-0 p-1">
        <button id="board-square-5-0" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-5-1" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-5-2" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-5-3" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-5-4" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto m-0 p-1">
        <button id="board-square-4-0" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-4-1" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-4-2" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-4-3" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-4-4" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto m-0 p-1">
        <button id="board-square-3-0" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-3-1" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-3-2" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-3-3" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-3-4" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto m-0 p-1">
        <button id="board-square-2-0" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-2-1" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-2-2" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-2-3" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-2-4" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto m-0 p-1">
        <button id="board-square-1-0" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-1-1" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-1-2" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-1-3" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-1-4" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto m-0 p-1">
        <button id="board-square-0-0" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-0-1" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-0-2" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-0-3" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
      <div class="col-auto m-0 p-1">
        <button id="board-square-0-4" type="button" class="btn board-square board-empty-square btn-outline-secondary disabled"></button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block styles %}
<link href="{{ url_for('static', filename='css/game.css') }}?u={{ last_updated }}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js" integrity="sha512-YybopSVjZU0fe8TY4YDuQbP5bhwpGBE/T6eBUEZ0usM72IWBfWrgVI13qfX4V2A/W7Hdqnm7PIOYOwP9YHnICw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<script src="{{ url_for('static', filename='js/game.js') }}?u={{ last_updated }}"></script>
{% endblock scripts %}

{% block audio %}
<audio id="audio-rasp" src="{{ url_for('static', filename='audio/rasp.wav') }}?u={{ last_updated }}"></audio>
<audio id="audio-pop" src="{{ url_for('static', filename='audio/pop.wav') }}?u={{ last_updated }}"></audio>
<audio id="audio-clack" src="{{ url_for('static', filename='audio/clack.wav') }}?u={{ last_updated }}"></audio>
{% endblock audio %}