{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
  <div id="home-main" class="shadow-lg p-5">
    <div id="home-welcome-text"><i>"A chess-like online board game, with RNG-based initial position and capturing efficacy."</i></div>
    <br><br>
    <div class="home-title">new game</div>
    <button id="home-play-random" type="button" class="m-1 btn home-button btn-outline-dark disabled">play against anyone</button>
    <button id="home-invite" type="button" class="m-1 btn home-button btn-success disabled">play with a friend</button>
    <button id="home-test-red" type="button" class="m-1 btn home-button btn-danger">test as red</button>
    <button id="home-test-blue" type="button" class="m-1 btn home-button btn-info">test as blue</button>
  </div>
</div>
{% endblock content %}

{% block styles %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock scripts %}